<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,50}}</string>
                <key>sourceSize</key>
                <string>{480,50}</string>
            </dict>
            <key>loading_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{379,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{379,14}}</string>
                <key>sourceSize</key>
                <string>{387,20}</string>
            </dict>
            <key>loading_tiao_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{387,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,20}}</string>
                <key>sourceSize</key>
                <string>{387,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e35036d62e0efefa882086628a0f81d$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
