<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fc111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{114,112}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,25},{114,112}}</string>
                <key>sourceSize</key>
                <string>{128,150}</string>
            </dict>
            <key>fc112.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,230},{114,112}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,25},{114,112}}</string>
                <key>sourceSize</key>
                <string>{128,150}</string>
            </dict>
            <key>fc113.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{114,112}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,25},{114,112}}</string>
                <key>sourceSize</key>
                <string>{128,150}</string>
            </dict>
            <key>fc114.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,116},{114,112}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,25},{114,112}}</string>
                <key>sourceSize</key>
                <string>{128,150}</string>
            </dict>
            <key>fc115.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{114,112}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,25},{114,112}}</string>
                <key>sourceSize</key>
                <string>{128,150}</string>
            </dict>
            <key>fc116.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{114,112}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,25},{114,112}}</string>
                <key>sourceSize</key>
                <string>{128,150}</string>
            </dict>
            <key>fc117.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{114,112}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,25},{114,112}}</string>
                <key>sourceSize</key>
                <string>{128,150}</string>
            </dict>
            <key>fc118.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,112}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,25},{114,112}}</string>
                <key>sourceSize</key>
                <string>{128,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fc11.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a529542b0db2f86fbbee866ded145d1a$</string>
            <key>textureFileName</key>
            <string>fc11.png</string>
        </dict>
    </dict>
</plist>
