<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fc121.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{112,114}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{112,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fc122.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,114}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{112,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fc123.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,116},{112,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{112,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fc124.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{112,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{112,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fc12.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b7373d53d67b82c1d41f35da2d36f06$</string>
            <key>textureFileName</key>
            <string>fc12.png</string>
        </dict>
    </dict>
</plist>
