<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fc131.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,118},{114,114}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,43},{114,114}}</string>
                <key>sourceSize</key>
                <string>{128,170}</string>
            </dict>
            <key>fc132.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{114,114}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,43},{114,114}}</string>
                <key>sourceSize</key>
                <string>{128,170}</string>
            </dict>
            <key>fc133.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{114,114}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,43},{114,114}}</string>
                <key>sourceSize</key>
                <string>{128,170}</string>
            </dict>
            <key>fc134.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{114,114}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,43},{114,114}}</string>
                <key>sourceSize</key>
                <string>{128,170}</string>
            </dict>
            <key>fc135.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,114}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,43},{114,114}}</string>
                <key>sourceSize</key>
                <string>{128,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fc13.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8a323164efb8f513273d3f22bcedb13$</string>
            <key>textureFileName</key>
            <string>fc13.png</string>
        </dict>
    </dict>
</plist>
