<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fc141.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,338},{112,110}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,29},{112,110}}</string>
                <key>sourceSize</key>
                <string>{128,150}</string>
            </dict>
            <key>fc142.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{112,110}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,29},{112,110}}</string>
                <key>sourceSize</key>
                <string>{128,150}</string>
            </dict>
            <key>fc143.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,338},{112,110}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,29},{112,110}}</string>
                <key>sourceSize</key>
                <string>{128,150}</string>
            </dict>
            <key>fc144.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,226},{112,110}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,29},{112,110}}</string>
                <key>sourceSize</key>
                <string>{128,150}</string>
            </dict>
            <key>fc145.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{112,110}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,29},{112,110}}</string>
                <key>sourceSize</key>
                <string>{128,150}</string>
            </dict>
            <key>fc146.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,114},{112,110}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,29},{112,110}}</string>
                <key>sourceSize</key>
                <string>{128,150}</string>
            </dict>
            <key>fc147.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{112,110}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,29},{112,110}}</string>
                <key>sourceSize</key>
                <string>{128,150}</string>
            </dict>
            <key>fc148.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{112,110}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,29},{112,110}}</string>
                <key>sourceSize</key>
                <string>{128,150}</string>
            </dict>
            <key>fc149.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,110}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,29},{112,110}}</string>
                <key>sourceSize</key>
                <string>{128,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fc14.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f0b09c3c23644d945a88792b52d7f9c$</string>
            <key>textureFileName</key>
            <string>fc14.png</string>
        </dict>
    </dict>
</plist>
