<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fc161.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{118,134}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{118,134}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>fc162.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,138}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{122,138}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fc16.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06b34712de6df531499da302537ad0a0$</string>
            <key>textureFileName</key>
            <string>fc16.png</string>
        </dict>
    </dict>
</plist>
