<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fc171.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,350},{114,120}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,50},{114,120}}</string>
                <key>sourceSize</key>
                <string>{128,200}</string>
            </dict>
            <key>fc172.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{114,120}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,50},{114,120}}</string>
                <key>sourceSize</key>
                <string>{128,200}</string>
            </dict>
            <key>fc173.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,234},{114,120}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,50},{114,120}}</string>
                <key>sourceSize</key>
                <string>{128,200}</string>
            </dict>
            <key>fc174.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{114,120}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,50},{114,120}}</string>
                <key>sourceSize</key>
                <string>{128,200}</string>
            </dict>
            <key>fc175.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,118},{114,120}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,50},{114,120}}</string>
                <key>sourceSize</key>
                <string>{128,200}</string>
            </dict>
            <key>fc176.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{114,120}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,50},{114,120}}</string>
                <key>sourceSize</key>
                <string>{128,200}</string>
            </dict>
            <key>fc177.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{114,120}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,50},{114,120}}</string>
                <key>sourceSize</key>
                <string>{128,200}</string>
            </dict>
            <key>fc178.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,120}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,50},{114,120}}</string>
                <key>sourceSize</key>
                <string>{128,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fc17.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:446252cdf197f18bd6aaccb674e06c61$</string>
            <key>textureFileName</key>
            <string>fc17.png</string>
        </dict>
    </dict>
</plist>
