<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fc201.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{126,122}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,36},{126,122}}</string>
                <key>sourceSize</key>
                <string>{128,160}</string>
            </dict>
            <key>fc202.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,130},{126,120}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,38},{126,120}}</string>
                <key>sourceSize</key>
                <string>{128,160}</string>
            </dict>
            <key>fc203.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,124}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,34},{126,124}}</string>
                <key>sourceSize</key>
                <string>{128,160}</string>
            </dict>
            <key>fc204.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{126,120}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,38},{126,120}}</string>
                <key>sourceSize</key>
                <string>{128,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fc20.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b5b83efa6add9e57b4d6b9b9f38ed8c$</string>
            <key>textureFileName</key>
            <string>fc20.png</string>
        </dict>
    </dict>
</plist>
