<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fc151.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{112,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{112,128}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>fc152.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,124},{112,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{112,126}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>fc153.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,116},{112,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{112,126}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>fc154.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{120,134}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{120,134}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>fc155.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{120,132}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{120,132}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>fc156.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,134}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{120,134}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>fc157.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{120,132}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{120,132}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>fc158.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{112,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{112,126}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fc15.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6fab4e3a11d26b6e0185d156b00af2d$</string>
            <key>textureFileName</key>
            <string>fc15.png</string>
        </dict>
    </dict>
</plist>
