<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fc181.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{146,140}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{146,140}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>fc182.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,140}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{152,140}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fc18.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8303b80e453a5c527d5f49422f59fa99$</string>
            <key>textureFileName</key>
            <string>fc18.png</string>
        </dict>
    </dict>
</plist>
