<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hl0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,156}</string>
                <key>spriteSourceSize</key>
                <string>{159,156}</string>
                <key>textureRect</key>
                <string>{{0,0},{159,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hl1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,156}</string>
                <key>spriteSourceSize</key>
                <string>{159,156}</string>
                <key>textureRect</key>
                <string>{{159,0},{159,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hl2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,156}</string>
                <key>spriteSourceSize</key>
                <string>{159,156}</string>
                <key>textureRect</key>
                <string>{{318,0},{159,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hl3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,156}</string>
                <key>spriteSourceSize</key>
                <string>{159,156}</string>
                <key>textureRect</key>
                <string>{{477,0},{159,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hl4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,156}</string>
                <key>spriteSourceSize</key>
                <string>{159,156}</string>
                <key>textureRect</key>
                <string>{{636,0},{159,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>highlight.png</string>
            <key>size</key>
            <string>{795,156}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcfa6fc7915324aeb4c5119ae77458ce:ffb8166b4ac2cd584d10f67760ad3d3c:f4cfc1aacf817378f3a28e39da83a7aa$</string>
            <key>textureFileName</key>
            <string>highlight.png</string>
        </dict>
    </dict>
</plist>
