<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>east_discard_board_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{67,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,60}}</string>
                <key>sourceSize</key>
                <string>{67,60}</string>
            </dict>
            <key>east_discard_board_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{67,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,60}}</string>
                <key>sourceSize</key>
                <string>{67,60}</string>
            </dict>
            <key>east_discard_board_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,60}}</string>
                <key>sourceSize</key>
                <string>{67,60}</string>
            </dict>
            <key>east_discard_tile_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{51,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{51,33}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>east_discard_tile_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,537},{53,37}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{53,37}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>east_discard_tile_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,419},{51,9}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,16},{51,9}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>east_discard_tile_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,292},{51,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{51,31}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>east_discard_tile_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,453},{51,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{51,27}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>east_discard_tile_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,645},{51,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{51,29}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>east_discard_tile_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,400},{51,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{51,29}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>east_discard_tile_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,183},{55,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{55,33}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>east_discard_tile_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,973},{53,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{53,33}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>east_discard_tile_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,918},{53,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{53,33}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>east_discard_tile_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,863},{53,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{53,33}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>east_discard_tile_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,292},{41,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{41,37}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>east_discard_tile_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,597},{47,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{47,21}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>east_discard_tile_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{53,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{53,37}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>east_discard_tile_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,539},{47,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{47,33}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>east_discard_tile_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,698},{47,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{47,33}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>east_discard_tile_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,345},{53,29}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{53,29}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>east_discard_tile_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{55,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,39}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>east_discard_tile_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,482},{55,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{55,27}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>east_discard_tile_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{51,37}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{51,37}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>east_discard_tile_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,808},{53,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{53,33}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>east_discard_tile_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,645},{51,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{51,39}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>east_discard_tile_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,598},{45,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{45,35}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>east_discard_tile_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,335},{39,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{39,37}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>east_discard_tile_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,646},{41,35}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{41,35}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>east_discard_tile_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,255},{49,35}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{49,35}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>east_discard_tile_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,376},{41,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{41,39}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>east_discard_tile_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,218},{51,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{51,35}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>east_discard_tile_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,753},{53,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{53,33}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>east_discard_tile_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,148},{55,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{55,33}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>east_discard_tile_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,113},{55,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{55,33}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>east_discard_tile_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,78},{55,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{55,33}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>east_discard_tile_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{53,35}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{53,35}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>east_discard_tile_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,43},{55,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{55,33}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>east_hand_board_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,539},{24,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,56}}</string>
                <key>sourceSize</key>
                <string>{24,56}</string>
            </dict>
            <key>east_hand_board_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,540},{24,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,56}}</string>
                <key>sourceSize</key>
                <string>{24,56}</string>
            </dict>
            <key>east_hand_board_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,482},{24,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,56}}</string>
                <key>sourceSize</key>
                <string>{24,56}</string>
            </dict>
            <key>east_meld_board_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{52,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,47}}</string>
                <key>sourceSize</key>
                <string>{52,47}</string>
            </dict>
            <key>east_meld_board_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{52,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,47}}</string>
                <key>sourceSize</key>
                <string>{52,47}</string>
            </dict>
            <key>east_meld_board_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,335},{52,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,47}}</string>
                <key>sourceSize</key>
                <string>{52,47}</string>
            </dict>
            <key>east_meld_cover_board_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{52,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,47}}</string>
                <key>sourceSize</key>
                <string>{52,47}</string>
            </dict>
            <key>east_meld_cover_board_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{52,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,47}}</string>
                <key>sourceSize</key>
                <string>{52,47}</string>
            </dict>
            <key>east_meld_cover_board_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{52,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,47}}</string>
                <key>sourceSize</key>
                <string>{52,47}</string>
            </dict>
            <key>east_meld_tile_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,837},{38,26}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{38,26}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>east_meld_tile_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,1041},{38,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,26}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>east_meld_tile_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1081},{36,8}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{36,8}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>east_meld_tile_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,949},{36,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{36,26}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>east_meld_tile_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,835},{36,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{36,22}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>east_meld_tile_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,911},{36,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{36,24}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>east_meld_tile_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,873},{36,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{36,24}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>east_meld_tile_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,879},{40,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,26}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>east_meld_tile_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,1001},{38,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,26}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>east_meld_tile_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,961},{38,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,26}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>east_meld_tile_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,731},{40,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,26}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>east_meld_tile_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1057},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>east_meld_tile_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,218},{34,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{34,14}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>east_meld_tile_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,953},{36,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{36,26}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>east_meld_tile_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,759},{34,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{34,26}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>east_meld_tile_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,759},{34,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{34,26}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>east_meld_tile_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,987},{36,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{36,20}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>east_meld_tile_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,915},{36,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{36,26}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>east_meld_tile_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,753},{40,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{40,20}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>east_meld_tile_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,1029},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>east_meld_tile_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,795},{40,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,24}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>east_meld_tile_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,991},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>east_meld_tile_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,419},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>east_meld_tile_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1025},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>east_meld_tile_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,1067},{30,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>east_meld_tile_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,877},{36,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>east_meld_tile_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,482},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>east_meld_tile_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,921},{38,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,26}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>east_meld_tile_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,795},{38,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{38,24}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>east_meld_tile_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,837},{40,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,24}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>east_meld_tile_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,795},{40,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,24}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>east_meld_tile_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,588},{40,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,24}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>east_meld_tile_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,689},{40,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,26}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>east_meld_tile_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,689},{40,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,24}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>east_mj.png</string>
            <key>size</key>
            <string>{128,1096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:758e25e8032cfa7541a49b6988b70494$</string>
            <key>textureFileName</key>
            <string>east_mj.png</string>
        </dict>
    </dict>
</plist>
